<div style="align:right">
  <button mat-flat-button color="warn" (click)="closeModal()">
    <i class="material-icons">
      clear
    </i>
  </button>
</div>
<form>
  <mat-form-field>
    <input matInput [(ngModel)]="data.receiverName" name="receiverName" placeholder="Įveskite vartotoją" />
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="invite()">Pakviesti</button>
</form>

<ul>
  <li *ngFor="let userInvitation of userInvitations">
    Vartotojas: {{ userInvitation.username }}
    Būsena: {{ getStatus(userInvitation.invitationStatus) }}
  </li>
</ul>