<div align="right">
  <button mat-flat-button color="warn" (click)="closeModal()">
    <i class="material-icons">
      clear
    </i>
  </button>
</div>
<form>
  <mat-form-field>
    <input matInput [(ngModel)]="data.receiverName" name="receiverName" placeholder="Įveskite vartotoją" />
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="invite()">Send invitation</button>
</form>

<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Ex. ium">
</mat-form-field>

<div>
  <table mat-table [dataSource]="userInvitations" class="mat-elevation-z8">

    <ng-container matColumnDef="User">
      <th mat-header-cell *matHeaderCellDef> Username </th>
      <td mat-cell *matCellDef="let element"> {{element.username}} </td>
    </ng-container>

    <ng-container matColumnDef="Status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let element"> {{getStatus(element.invitationStatus)}} </td>
    </ng-container>

    <ng-container matColumnDef="Withdraw">
      <th mat-header-cell *matHeaderCellDef> Withdraw </th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="element.invitationStatus==0 && !isConfirmed">
          <button mat-raised-button color="warn" (click)="deleteInvitation(element.id)">Withdraw</button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator showFirstLastButtons></mat-paginator>
</div>