<mat-card class="login-card login-card-position">
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <h1 class="center" mat-dialog-title>Login</h1>

    <div class="center">
      <mat-form-field>
        <input matInput name="username" placeholder="Username" formControlName="username" class="form-control"
          required />
        <mat-error *ngIf="this.loginForm.controls.username.invalid" class="error">
          Username can not be empty!
        </mat-error>
      </mat-form-field>
    </div>

    <div class="center">
      <mat-form-field>
        <input matInput type="password" name="password" placeholder="Password" formControlName="password" required />
        <mat-error *ngIf="this.loginForm.controls.password.invalid" class="error">
          Password can not be empty!
        </mat-error>
      </mat-form-field>
    </div>

    <div class="center">
      <button mat-flat-button color="primary"
        [disabled]="this.loginForm.controls.password.invalid || this.loginForm.controls.username.invalid">
        Log in
      </button>
    </div>

  </form>
</mat-card>