<mat-card class="login-card login-card-position">
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <h1 class="center" mat-dialog-title>Prisijugimas</h1>

    <div class="center">
      <mat-form-field>
        <input matInput
               name="username"
               placeholder="Vartotojo vardas"
               formControlName="username"
               class="form-control"
               required/>
        <mat-error *ngIf="this.loginForm.controls.username.invalid" class="error">
          Įveskite username
        </mat-error>
      </mat-form-field>
    </div>

    <div class="center">
      <mat-form-field>
        <input matInput
               type="password"
               name="password"
               placeholder="Slaptažodis"
               formControlName="password"
               required />
        <mat-error *ngIf="this.loginForm.controls.password.invalid" class="error">
          Įveskite password
        </mat-error>
      </mat-form-field>
    </div>

    <div class="center">
      <button [disabled]="isDisabled" mat-flat-button color="primary">
        Log in
      </button>
    </div>

  </form>
</mat-card>
