<mat-card>
  <form>
    <h1>Jūsų pasirinktas laikas</h1>
    <div> Nuo {{currentTime.startTime}}</div>
    <div> Nuo {{currentTime.endTime}}</div>
    <div></div>
    <label>Laikų ribų pasirinkimas</label>
    <mat-form-field>
      <mat-select [(ngModel)]="settings.startTime" name="startTime">
        <mat-option *ngFor="let hour of hours" value={{hour}}>
          {{hour}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select [(ngModel)]="settings.endTime" name="endTime">
        <mat-option *ngFor="let hour of hours" value={{hour}}>
          {{hour}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button (click)="update()">Update</button>
  </form>

</mat-card>