<mat-card>
  <div [formGroup]="userSettingsForm">
    <label>Laikų ribų pasirinkimas</label>

    <mat-form-field>
      <mat-select formControlName="startTime">
        <mat-option *ngFor="let hour of hours" value={{hour}}>
          {{hour}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select formControlName="endTime">
        <mat-option *ngFor="let hour of hours" value={{hour}}>
          {{hour}}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </div>
  <button (click)="update()">Keisti</button>
</mat-card>