<mat-grid-list [cols]="breakpoint" rowHeight="2:1" (window:resize)="onResize($event.target)">
  <mat-grid-tile *ngFor=" let invitation of invitations.data">
    <mat-card (click)="onRowClicked(invitation.workId)">
      <mat-card-content>
        {{invitation.message}}
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="accept(invitation.id,invitation.workId)">
          <i class=" material-icons">
            done
          </i>
        </button>
        <button mat-raised-button color="warn" (click)="decline(invitation.id, invitation.workId)">
          <i class="material-icons">
            clear
          </i>
        </button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>