<button mat-raised-button color="warn" class="delete-all-button" (click)="deleteAll()">
  <i class="material-icons">
    clear
  </i>
  clear
</button>


<div>
  <table mat-table [dataSource]="messagesDataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="Title">
      <th mat-header-cell *matHeaderCellDef> Title </th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>

    <ng-container matColumnDef="Text">
      <th mat-header-cell *matHeaderCellDef> Text </th>
      <td mat-cell *matCellDef="let element"> {{element.text}} </td>
    </ng-container>

    <ng-container matColumnDef="Time">
      <th mat-header-cell *matHeaderCellDef> Time </th>
      <td mat-cell *matCellDef="let element">{{element.dataString}}</td>
    </ng-container>

    <ng-container matColumnDef="Delete">
      <th mat-header-cell *matHeaderCellDef> Delete </th>
      <td mat-cell *matCellDef="let element">
        <button mat-raised-button color="warn" (click)="deleteById(element.id)">
          <i class="material-icons">
            clear
          </i>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="search">
      <td mat-header-cell *matHeaderCellDef colspan="4">
        <mat-form-field appearance="outline">
          <mat-label>Search...</mat-label>
          <span matSuffix class="material-icons">
            search
          </span>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Ex. ium">
        </mat-form-field>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-footer-row *matHeaderRowDef="['search']"></tr>

    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>

  <mat-paginator showFirstLastButtons></mat-paginator>
</div>