<mat-grid-list cols="10" rowHeight="100px">
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <button mat-raised-button color="primary" (click)="updateDate(-1)">
      Pervious
    </button>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="8" [rowspan]="1">
    <h1>
      Dienos ({{dateString}}) veiklų sąrašas
    </h1>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <button mat-raised-button color="primary" (click)="updateDate(1)">
      Next
    </button>
  </mat-grid-tile>
</mat-grid-list>

<div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
  <div class="example-box" *ngFor="let activity of activities" cdkDrag>
    <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
    {{activity.title}}
  </div>
</div>