<mat-card class="login-card login-card-position">
  <form [formGroup]="registrationForm" (ngSubmit)="register()">
    <h1 class="center" mat-dialog-title>Registration</h1>

    <div class="center">
      <mat-form-field>
        <input matInput name="username" placeholder="Username" formControlName="username" class="form-control"
          required />
        <mat-error *ngIf="this.registrationForm.controls.username.invalid" class="error">
          Username can not be empty!
        </mat-error>
      </mat-form-field>
    </div>

    <div class="center">
      <mat-form-field>
        <input matInput type="password" name="password" placeholder="Password" formControlName="password" required />
        <mat-error *ngIf="this.registrationForm.controls.username.invalid" class="error">
          Password can not be empty!
        </mat-error>
      </mat-form-field>
    </div>

    <div class="center">
      <mat-form-field>
        <input matInput type="password" name="reapeatPassword" placeholder="Confirm password"
          formControlName="reapeatPassword" required />
        <mat-error *ngIf="this.registrationForm.controls.reapeatPassword.invalid" class="error">
          Password confirmation can not be empty!
        </mat-error>
      </mat-form-field>
    </div>

    <div class="center">
      <mat-form-field>
        <input matInput type="email" name="email" placeholder="Email" formControlName="email" required />
        <mat-error *ngIf="this.registrationForm.controls.email.invalid" class="error">
          Email can not be empty!
        </mat-error>
      </mat-form-field>
    </div>

    <div class="center">
      <mat-dialog-actions align="end">
        <button mat-flat-button color="primary">
          Register now
        </button>
      </mat-dialog-actions>
    </div>

  </form>
</mat-card>