<form #registrationForm="ngForm">
  <h1 mat-dialog-title>Registracija</h1>
  <mat-card>
    <div>
      <mat-form-field>
        <input matInput name="username" placeholder="username" required />
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <input
          matInput
          type="password"
          name="password"
          placeholder="password"
          required
        />
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <input
          matInput
          type="email"
          name="email"
          placeholder="email"
          required
        />
      </mat-form-field>
    </div>
  </mat-card>

  <!--<mat-form-field class="example-full-width">
    <input matInput placeholder="Username" #nameInput="ngModel" />
    <mat-error *ngIf="nameInput.invalid" class="error">
      Username cannot be empty.
    </mat-error>
  </mat-form-field>

   <mat-form-field class="example-full-width">
    <input matInput type="email" placeholder="Email" #nameInput="ngModel" />
    <mat-error *ngIf="nameInput.invalid" class="error">
      Email cannot be empty.
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input
      matInput
      type="password"
      placeholder="Password"
      #nameInput="ngModel"
    />
    <mat-error *ngIf="nameInput.invalid" class="error">
      Password cannot be empty.
    </mat-error>
  </mat-form-field>-->

  <mat-dialog-actions align="end">
    <button mat-flat-button mat-button-base [mat-dialog-close]>Close</button>
    <button mat-flat-button color="primary">
      Registruotis
    </button>
  </mat-dialog-actions>
</form>
