<form>
  <h1 mat-dialog-title>{{ data.formTitle }}</h1>

  <mat-dialog-content>
    <mat-card>
      <div>
        <mat-form-field>
          <input matInput [(ngModel)]="data.activityFormData.title" name="title" placeholder="Title" required
            #nameInput="ngModel" />
          <mat-error *ngIf="nameInput.invalid" class="error">
            Title cannot be empty.
          </mat-error>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <input matInput [(ngModel)]="data.activityFormData.description" name="description" placeholder="Description"
            required #nameInput="ngModel" />

          <mat-error *ngIf="nameInput.invalid" class="error">
            Description cannot be empty.
          </mat-error>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <input matInput [(ngModel)]="data.activityFormData.durationInMinutes" name="duration" placeholder="Trukmė"
            required #nameInput="ngModel" />
          <mat-error *ngIf="nameInput.invalid" class="error">
            Duration cannot be empty.
          </mat-error>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <mat-label>Select priority</mat-label>
          <mat-select placeholder="Priority" [(ngModel)]="data.activityFormData.activityPriority" name="priority">
            <mat-option [value]="0">Žemas</mat-option>
            <mat-option [value]="1">Vidutinis</mat-option>
            <mat-option [value]="2">Aukštas</mat-option>
          </mat-select>
        </mat-form-field>
      </div>


      <div>
        <mat-checkbox name="participants" [(ngModel)]="data.activityFormData.willBeParticipant">
          Bus daugiau dalyvių
        </mat-checkbox>
      </div>
    </mat-card>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-flat-button mat-button-base [mat-dialog-close]>Close</button>
    <button mat-flat-button color="primary" (click)="closeModal(data.activityFormData)">
      {{ data.formConfirmationButtonName }}
    </button>
  </mat-dialog-actions>
</form>