<mat-card class="login-card login-card-position">
  <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">

    <div>
      <mat-form-field>
        <input matInput
               type="password"
               name="password"
               placeholder="Slaptažodis"
               formControlName="password"
               required />
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <input matInput
               type="password"
               name="newPassword"
               placeholder="Naujas slaptažodis"
               formControlName="newPassword"
               required />
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <input matInput
               type="password"
               name="repeatNewPassword"
               placeholder="Pakartoti slaptažodį"
               formControlName="repeatNewPassword"
               required />
      </mat-form-field>
    </div>

    <div class="center">
      <mat-dialog-actions align="end">
        <button mat-flat-button color="primary">
          Keisti slapatažodį
        </button>
      </mat-dialog-actions>
    </div>

  </form>
</mat-card>
