<h1>Jūs išsiuntėte pakvietimus</h1>
<div>
  <table mat-table [dataSource]="invitations" class="mat-elevation-z8">

    <ng-container matColumnDef="Row">
      <td mat-cell *matCellDef="let element">
        <mat-card>
          <mat-card-title> {{ element.id }} </mat-card-title>
          <mat-card-content>{{getStatus(element.invitationStatus)}}</mat-card-content>
        </mat-card>
      </td>
    </ng-container>

    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator showFirstLastButtons></mat-paginator>
</div>