<div align="right">
  <button mat-flat-button color="warn" (click)="closeModal()">
    <i class="material-icons">
      clear
    </i>
  </button>
</div>
<form>
  <h1 mat-dialog-title>Title:{{activity.title}}</h1>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        Description
      </mat-expansion-panel-header>
      {{activity.description}}
    </mat-expansion-panel>


  </mat-accordion>
  <br>
  <mat-card-actions>
    Duration is {{getDurationHoursAndMinutes()}}
  </mat-card-actions>

</form>