<mat-toolbar color="primary">
  <a mat-button routerLink="/schedule" routerLinkActive="active">
    <i class="material-icons"> schedule </i>Tvarkaraštis</a
  >

  <a mat-button routerLink="/activities" routerLinkActive="active">
    <i class="material-icons">
      list
    </i>
    Veiklos
  </a>

  <button mat-button [matMenuTriggerFor]="menu">
    <i class="material-icons">
      mail_outline
    </i>
    Pakvietimai
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item class="primary">Išsiūsti pakvietimai</button>
    <button mat-menu-item class="primary">Gauti pakvietimai</button>
  </mat-menu>

  <span class="fill-empty-space-in-toolbar"></span>

  <a mat-button routerLink="/profile" routerLinkActive="active">
    <i class="material-icons"> account_circle </i>
    {{ currentUserName }}
  </a>

  <button mat-button (click)="logout()">
    <i class="material-icons"> power_settings_new</i>
    Log out
  </button>
</mat-toolbar>
