<mat-toolbar color="primary">
  <a mat-button routerLink="/schedule" routerLinkActive="active">
    <i class="material-icons"> schedule </i>Schedule</a>

  <a mat-button routerLink="/works" routerLinkActive="active">
    <i class="material-icons">
      list
    </i>
    Works
  </a>

  <a mat-button routerLink="/invitations" routerLinkActive="active">
    <i class="material-icons">
      insert_invitation
    </i>
    Invitations
  </a>

  <a mat-button routerLink="/messages" routerLinkActive="active">
    <i class="material-icons">
      mail_outline
    </i>
    Messages
  </a>

  <span class="fill-empty-space-in-toolbar"></span>

  <a mat-button routerLink="/profile" routerLinkActive="active">
    <i class="material-icons"> account_circle </i>
    {{ currentUserName }}
  </a>

  <button mat-button (click)="logout()">
    <i class="material-icons"> power_settings_new</i>
    Log out
  </button>
</mat-toolbar>