<mat-toolbar color="primary">
  <a mat-button routerLink="/schedule" routerLinkActive="active">
    <i class="material-icons"> schedule </i>Tvarkaraštis</a
  >

  <a mat-button routerLink="/activities" routerLinkActive="active">
    <i class="material-icons">
      list
    </i>
    Veiklos</a
  >

  <span class="fill-empty-space-in-toolbar"></span>

  <a mat-button routerLink="/profile" routerLinkActive="active">
    <i class="material-icons"> account_circle </i>
    {{currentUserName}}
  </a>

  <button mat-button (click)="logout()">
    <i class="material-icons"> power_settings_new</i>
    Log out
  </button>
</mat-toolbar>
